<h2 mat-dialog-title>{{ employee.id ? 'Atualizar Funcionário' : 'Criar Funcionário' }}</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="employee.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Sobrenome</mat-label>
    <input matInput [(ngModel)]="employee.lastName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="employee.email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>PIS</mat-label>
    <input matInput [(ngModel)]="employee.pisNumber">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="save()">Salvar</button>
  <button mat-button (click)="dialogRef.close()">Cancelar</button>
</mat-dialog-actions>